In [17]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir('input'))

['.DS_Store', 'imbd-sf']

In [18]:
df = pd.read_csv('input/imbd-sf/data.csv')
df.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [16]:
len(data)

1890

# Предобработка датасета

In [17]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [18]:
df[df.budget == df.budget.max()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

In [19]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [20]:
df[df.runtime == df.runtime.max()].original_title

1158    Gods and Generals
Name: original_title, dtype: object

In [21]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [22]:
df[df.runtime == df.runtime.min()].original_title

769    Winnie the Pooh
Name: original_title, dtype: object

In [23]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [24]:
df.runtime.mean()

109.65343915343915

In [25]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [26]:
df.runtime.median()

106.5

In [27]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [19]:
df['profit'] = df.revenue - df.budget
df[df.profit == df.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [29]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [30]:
df[df.profit == df.profit.min()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

In [31]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [32]:
df[df.profit > 0].original_title.count()

1478

In [33]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [34]:
df[df.profit == df[df.release_year == 2008].profit.max()].original_title

600    The Dark Knight
Name: original_title, dtype: object

In [35]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [36]:
df[df.profit == df[(df.release_year >= 2012)&(df.release_year <= 2014)].profit.min()].original_title

1246    The Lone Ranger
Name: original_title, dtype: object

In [37]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [38]:
genre_counter = Counter()
for x in df.genres.str.split('|'):
    genre_counter += Counter(x)
genre_counter.most_common(1)

[('Drama', 782)]

In [39]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [40]:
genre_counter2 = Counter()
for x in df[df.profit > 0].genres.str.split('|'):
    genre_counter2 += Counter(x)
genre_counter2.most_common(1)

[('Drama', 560)]

In [41]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [37]:
director_counter = Counter()
for x in df.director.str.split('|'):
    director_counter += Counter(x)
director_counter
df1 = pd.DataFrame()
for k, v in director_counter.items(): 
    print(k, v)

Colin Trevorrow 1
George Miller 3
Robert Schwentke 4
J.J. Abrams 5
James Wan 4
Alejandro GonzÃ¡lez IÃ±Ã¡rritu 4
Alan Taylor 2
Ridley Scott 12
Kyle Balda 2
Pierre Coffin 3
Pete Docter 3
Sam Mendes 5
Lana Wachowski 5
Lilly Wachowski 5
Alex Garland 1
Chris Columbus 5
Joss Whedon 2
Quentin Tarantino 7
Olivier Megaton 4
Peyton Reed 5
Kenneth Branagh 3
Francis Lawrence 6
Brad Bird 4
Antoine Fuqua 8
Brad Peyton 3
Sam Taylor-Johnson 1
Adam McKay 6
Christopher McQuarrie 2
Seth MacFarlane 2
Matthew Vaughn 4
Tom McCarthy 1
Wes Ball 2
Neill Blomkamp 3
Elizabeth Banks 2
Steven Spielberg 10
Rob Letterman 4
Lenny Abrahamson 1
Peter Sohn 1
Jaume Collet-Serra 5
John Crowley 1
F. Gary Gray 5
Breck Eisner 3
Guy Ritchie 5
Lee Toland Krieger 1
Ilya Naishuller 1
Tim Johnson 2
Jake Schreier 1
Todd Haynes 3
Nancy Meyers 5
Baltasar KormÃ¡kur 3
Ericson Core 1
John Wells 3
Tarsem Singh 4
David Koepp 3
Tom Hooper 3
Michael Mann 5
Denis Villeneuve 2
Josh Trank 2
Paul Feig 3
Glenn Ficarra 3
John Requa 3
Aleksander Bach 1
Ron Howard 8
Ryan Coogler 1
Judd Apatow 5
Gavin Hood 4
Brian Helgeland 4
Joe Wright 5
Steve Martino 3
Peter Landesman 1
Jonathan Levine 3
George Tillman, Jr. 2
Genndy Tartakovsky 2
Jessie Nelson 2
Robert Zemeckis 6
John Francis Daley 1
Jonathan M. Goldstein 1
Gil Kenan 3
Daniel Espinosa 2
Joel Edgerton 1
Sean Anders 3
Mark Osborne 2
Jocelyn Moorhouse 1
Ari Sandel 1
Ciaran Foy 1
Andy Fickman 6
Doug Ellin 1
Jeremy Garelick 1
M. Night Shyamalan 8
Scott Cooper 3
Michael Dougherty 1
John Erick Dowdle 4
Simon Curtis 2
Jason Moore 2
Dean Israelite 1
Camille Delamarre 2
Guillermo del Toro 5
Gregory Jacobs 1
Gregory Plotkin 1
Jay Roach 5
Billy Ray 1
Paul Tibbitt 1
Boaz Yakin 4
Pierre Morel 3
Anne Fletcher 4
Leigh Whannell 1
Nicholas Hytner 1
Paul McGuigan 4
Jonathan Demme 2
David M. Rosenthal 1
Noah Baumbach 1
Etan Cohen 1
Sarah Gavron 1
Max Joseph 1
Alejandro Monteverde 1
Cameron Crowe 5
David Gordon Green 4
Barry Levinson 4
Ken Kwapis 5
Ken Scott 2
Mike Binder 2
Jon M. Chu 4
Christopher Nolan 8
James Gunn 2
Joe Russo 2
Anthony Russo 2
Chad Stahelski 1
David Leitch 1
Peter Jackson 8
Don Hall 2
Chris Williams 2
Morten Tyldum 1
David Fincher 6
David Ayer 4
Shawn Levy 10
Neil Burger 3
Bryan Singer 5
Luc Besson 2
Jonathan Liebesman 3
Jake Kasdan 3
Dan Gilroy 1
Michael Bay 8
Wes Anderson 5
Matt Reeves 3
Marc Webb 3
Doug Liman 5
Evan Goldberg 2
Seth Rogen 2
Clint Eastwood 12
Gareth Edwards 1
Robert Stromberg 1
Roger Donaldson 3
Stiles White 1
Dean DeBlois 3
Patrick Hughes 1
Phil Lord 4
Christopher Miller 4
Sergey Bodrov 1
James Marsh 1
Luke Greenfield 4
Gary Shore 1
Simon J. Smith 2
Eric Darnell 4
Rob Marshall 4
Noam Murro 2
Phillip Noyce 2
Scott Frank 2
Paul King 1
Daniel Barnz 2
Jon Favreau 5
James DeMonaco 1
Vic Armstrong 1
J.C. Chandor 2
Brett Ratner 8
Darren Aronofsky 4
David Dobkin 5
Frank Coraci 4
Nicholas Stoller 4
R.J. Cutler 1
Trish Sie 1
Josh Boone 1
Tim Story 6
Paul Thomas Anderson 3
Michael Spierig 2
Peter Spierig 2
JosÃ© Padilha 1
Wally Pfister 1
Nick Cassavetes 4
Rob Minkoff 4
Frank Miller 3
Robert Rodriguez 11
Carlos Saldanha 5
Bobby Farrelly 9
Peter Farrelly 10
George Clooney 4
Angelina Jolie 1
Ava DuVernay 1
Paul W.S. Anderson 7
Michael Hoffman 1
Will Gluck 3
Theodore Melfi 1
Scott Waugh 2
Lasse HallstrÃ¶m 7
Graham Annable 1
Anthony Stacchi 2
Tim Burton 9
Brian A Miller 1
Steven Quale 2
Roberts Gannaway 1
Sam Miller 1
Bennett Miller 3
Shana Feste 2
David MichÃ´d 1
Saul Dibb 1
John R. Leonetti 1
Stuart Beattie 2
Tom Gormican 1
Ben Falcone 1
Akiva Goldsman 1
Adam Wingard 1
Russell Crowe 1
Miguel Arteta 2
Steve Pink 3
Craig Gillespie 2
Jonathan Glazer 1
Rob Thomas 1
Christopher Spencer 1
Thomas Carter 3
GrÃ©gory Levasseur 1
Michael Cuesta 1
Charles Martin Smith 2
James Bobin 2
Randall Wallace 3
Renny Harlin 5
Andrew Erwin 1
Jon Erwin 1
Dave Green 1
Rupert Wyatt 2
Don McKellar 1
Harold Cronk 1
Matt Bettinelli-Olpin 1
Tyler Gillett 1
James Cameron 2
Patrick Tatopoulos 1
David Yates 4
Bob Peterson 1
McG 4
Todd Phillips 8
Zack Snyder 6
Roland Emmerich 5
Shane Acker 1
Ron Clements 2
John Musker 2
John Lee Hancock 4
Ruben Fleischer 3
Chris Weitz 3
Stephen Sommers 3
Robert Luketic 6
Henry Selick 2
Burr Steers 3
Steve Carr 6
Richard Kelly 1
Mark Neveldine 4
Brian Taylor 4
Christian Alvart 2
Sam Raimi 6
Alex Proyas 2
Duncan Jones 2
Hoyt Yeatman 1
Tony Scott 6
Ricky Gervais 1
Matthew Robinson 1
P.J. Hogan 2
Jaco Van Dormael 1
Peter Billingsley 1
Jim Sheridan 3
John Hillcoat 2
Conrad Vernon 3
Nora Ephron 2
Atom Egoyan 1
Karyn Kusama 2
Phil Traill 1
David R. Ellis 5
Betty Thomas 3
Gary Winick 2
Lee Daniels 2
Kevin Macdonald 3
David S. Goyer 3
John Hamburg 2
Steven Soderbergh 13
Richard Curtis 2
Brandon Camp 1
Kevin Greutert 2
Jean-Marc VallÃ©e 2
Ethan Coen 4
Joel Coen 6
David Twohy 4
Dominic Sena 4
Rajkumar Hirani 1
Grant Heslov 1
James McTeigue 4
Todd Graff 1
Brad Silberling 2
Jorge Blanco 1
Javier Abad 1
Marcos MartÃ­nez 1
Harold Ramis 2
Patrick Lussier 3
Walt Becker 2
Alejandro AmenÃ¡bar 2
Troy Duffy 1
Werner Herzog 2
NimrÃ³d Antal 4
Paul Weitz 5
Lone Scherfig 2
Jason Reitman 4
David Bowers 4
Tom Tykwer 3
Justin Lin 5
Michael Moore 3
Rob Zombie 4
Peter Chelsom 3
John Schultz 1
Olatunde Osunsanmi 1
Brian Koppelman 2
David Levien 2
Tony Gilroy 3
Jane Campion 1
Greg Mottola 3
Mike Judge 1
Donald Petrie 4
Marcus Nispel 4
Daniel Barber 1
Jonathan Mostow 3
Andrzej Bartkowiak 5
Thor Freudenthal 3
Steve Shill 1
Michael J. Bassett 2
Jonas Elmer 1
Richard Linklater 4
Stewart Hendler 2
Derrick Borte 1
Vicky Jenson 3
Marc Lawrence 3
Toby Wilkins 1
Bruce Beresford 2
Chris Renaud 3
Sylvester Stallone 3
Chris Sanders 3
Martin Scorsese 6
Joseph Kosinski 2
Nathan Greno 1
Byron Howard 2
Lee Unkrich 3
Danny Boyle 6
Michael Apted 2
Florian Henckel von Donnersmarck 1
Mike Newell 3
Louis Leterrier 6
Jon Turteltaub 5
Edgar Wright 2
Mike Mitchell 3
Joe Carnahan 3
Ethan Maniquis 1
Dennis Dugan 7
Albert Hughes 2
Allen Hughes 3
Ben Affleck 3
David Slade 2
Tom McGrath 4
Edward Zwick 4
Peter Weir 2
Miguel Sapochnik 1
James Mangold 5
Ryan Murphy 1
Andy Tennant 4
Anand Tucker 1
Paul Greengrass 5
Alan Poul 1
Josh Gordon 1
Will Speck 1
Floria Sigismondi 1
Garry Marshall 4
Troy Nixey 1
Harald Zwart 3
Jonathan Lynn 2
Roman Polanski 3
Paul Haggis 3
Samuel Bayer 1
David O. Russell 3
Jimmy Hayward 3
Jason Friedberg 5
Aaron Seltzer 5
Scott Stewart 2
Michael Patrick King 2
Susanna White 1
John Luessenhop 2
Steve Antin 1
Nanette Burstein 1
Mark Romanek 2
Kevin Smith 4
Greg Berlanti 1
Neil Marshall 2
John Curran 1
Alexandre Aja 3
Roger Michell 2
Tony Goldwyn 1
Michael Lembeck 3
Colin Strause 1
Greg Strause 1
John Madden 3
Jorma Taccone 1
James L. Brooks 2
Brian Levant 3
Jim Field Smith 1
William Monahan 1
Wes Craven 5
Robert Redford 3
Neil LaBute 3
Tom Dey 3
Oliver Stone 5
Dan Rush 1
Anthony Bell 1
Ben Gluck 1
Eric Brevig 2
Tom Vaughan 2
Richard J. Lewis 1
Martin Campbell 5
Roger Kumble 2
Kevin Munroe 2
William Dear 1
Sngmoo Lee 1
John Landis 1
Tyler Perry 3
Vipul Amrutlal Shah 1
David Lynch 1
David Silverman 2
Andrew Adamson 4
Sharon Maguire 1
Gary Trousdale 1
Kirk Wise 1
Simon West 5
J.B. Rogers 1
Baz Luhrmann 3
Ted Demme 1
Jean-Jacques Annaud 2
Ben Stiller 3
Joel Gallen 1
Keenen Ivory Wayans 4
John A. Davis 2
Lawrence Guterman 1
Chris Nahon 1
Peter Howitt 2
Hironobu Sakaguchi 1
Motonori Sakakibara 1
Michael Cristofer 1
John Moore 5
Victor Salva 2
Rod Lurie 2
Lee Tamahori 5
Adam Shankman 8
Jerry Zucker 1
Robert Altman 1
James Isaac 1
Gore Verbinski 8
John Dahl 2
Stephen Herek 1
Iain Softley 3
Gary Fleder 4
Simon Wincer 1
Bill Paxton 2
Luis Mandoki 2
Scott Hicks 2
Daniel Sackheim 1
John Herzfeld 1
Brian Robbins 6
Ivan Reitman 2
Frank Oz 2
Dennie Gordon 1
John Boorman 1
Pat O'Connor 1
Jesse Dylan 3
Gregory Poirier 1
Frank Darabont 2
Demian Lichtenstein 1
John Carpenter 1
Penny Marshall 1
Mark Waters 5
Rob Cohen 6
John Stockwell 3
Brendan Malloy 1
Emmett Malloy 1
Les Mayfield 1
Harold Becker 1
Mike Tollin 2
Tim Hill 3
Rob Pritts 1
Joe Johnston 3
Peter Hyams 2
Peter Bogdanovich 1
Francine McDougall 1
Ernest R. Dickerson 1
DJ Pooh 1
John Singleton 5
Andrew Stanton 3
Catherine Hardwicke 3
Marc Forster 7
John Stevenson 1
Phyllida Lloyd 2
Timur Bekmambetov 2
Loveleen Tandan 1
Peter Berg 6
Kathryn Bigelow 3
D.J. Caruso 5
Mark Herman 1
Scott Derrickson 2
Gabriele Muccino 2
David Frankel 4
Jeff Wadlow 1
Lexi Alexander 1
Pete Travis 2
Peter Segal 6
David Wain 2
Mathieu Kassovitz 2
Martin McDonagh 2
Jon Hurwitz 2
Hayden Schlossberg 2
Peter Sollett 1
Seth Gordon 3
Fred Wolf 1
David Hackl 1
Marco Schnabel 1
Woody Allen 3
Jon Avnet 2
Brad Anderson 3
Gregory Hoblit 3
Bryan Bertino 1
Gus Van Sant 3
Howard McCain 1
Chris Carter 1
John Patrick Shanley 1
Paul Weiland 1
Marcel Langenegger 1
David Moreau 1
Xavier Palud 1
Oxide Pang Chun 1
Danny Pang 1
GÃ¡bor CsupÃ³ 2
Peter Cattaneo 1
Robert Stevenhagen 1
Sam Fell 3
Craig Mazin 1
Gina Prince-Bythewood 2
Raja Gosnell 6
Michael McCullers 1
Julian Jarrold 2
Rian Johnson 2
Kirk De Micco 2
Howard Deutch 2
RyÃ»hei Kitamura 1
Simon Hunter 1
Joshua Michael Stern 2
Jennifer Flackett 1
Mark Levin 1
Anthony Leondis 1
Robert B. Weide 1
Malcolm D. Lee 4
Nicolas Winding Refn 1
Andrew Niccol 3
Jennifer Yuh 1
John Lasseter 2
Brad Lewis 1
Bill Condon 4
Terrence Malick 1
Michel Hazanavicius 1
Brad Furman 2
Gary McKendry 1
Mikael HÃ¥fstrÃ¶m 4
Stephen Anderson 1
George Nolfi 1
Tom Hanks 1
Mark Mylod 1
Chris Gorak 1
Tate Taylor 1
Christian E. Christiansen 1
Chris Miller 2
Michel Gondry 2
Oliver Parker 1
Todd Strauss-Schulson 1
Matthijs van Heijningen Jr. 1
Gonzalo LÃ³pez-Gallego 1
Simon Wells 2
Joe Cornish 1
Stephen Daldry 3
Kelly Asbury 3
Alexander Payne 4
Bruce Robinson 1
John Michael McDonagh 1
Jesse Peretz 1
Craig Brewer 3
Joel Schumacher 5
Henry Joost 2
Ariel Schulman 2
Michael Dowse 2
Jason Winer 1
Alister Grierson 1
Douglas McGrath 1
David Cronenberg 4
Sean McNamara 1
Mike Disa 1
Joe Nussbaum 2
William Friedkin 3
John Whitesell 2
Benny Chan 1
Salim Akil 2
Thomas Bezucha 1
Paul Johansson 1
Paolo Sorrentino 1
Rodrigo GarcÃ­a 1
Mark Duplass 1
Jay Duplass 1
Chris Wedge 3
George Lucas 2
Barry Sonnenfeld 4
Corey Yuen Kwai 1
Wayne Wang 3
Curtis Hanson 1
Steven Brill 3
Joel Zwick 1
Andrew Davis 2
Stuart Baird 1
Kurt Wimmer 1
Steve Beck 1
Lorna Cook 1
Jim Gillespie 1
Chuck Russell 1
Jeff Tremaine 3
Julie Taymor 1
Barbet Schroeder 1
Spike Jonze 2
Ron Shelton 1
Walter Hill 3
John Woo 3
Adrian Lyne 1
Michael Rymer 1
Marcus Raboy 1
Robin Budd 1
Donovan Cook 1
Dewey Nicks 1
Brian De Palma 2
Michael Caton-Jones 2
Rob Bowman 2
Carl Franklin 2
Shekhar Kapur 2
Mark Pellington 1
Jonathan Frakes 1
Rick Rosenthal 1
Denzel Washington 2
Mort Nathan 1
Tamra Davis 1
Ron Underwood 1
Stephen Gaghan 2
Reginald Hudlin 2
Tom Shadyac 3
Charles Stone III 2
Kevin Bray 1
William Malone 1
Paul Schrader 1
MÃ¥ns MÃ¥rlind 1
BjÃ¶rn Stein 1
Mark Andrews 1
Steve Purcell 1
Brenda Chapman 1
Rupert Sanders 1
Ang Lee 3
Mike Thurmeier 1
Juan Antonio Bayona 1
Rich Moore 1
Gary Ross 2
Len Wiseman 4
Stephen Chbosky 1
Drew Goddard 1
Peter Ramsey 1
Michael Sucsy 1
Juan Diego Solanas 1
Scott Speer 1
Mike McCoy 1
Kirk Jones 2
Larry Charles 2
Nima Nourizadeh 1
Peter Lord 2
Jeff Newitt 1
Stephen St. Leger 1
James Mather 1
James Watkins 1
Asger Leth 1
Henry Alex Rubin 1
Alex Kurtzman 1
John Gulager 1
Ole Bornedal 1
Andrew Dominik 2
Mabrouk El Mechri 1
Nicholas Jarecki 1
Dan Bradley 1
Julie Anne Robinson 1
Dustin Hoffman 1
Chris Butler 1
Dean Wright 1
Anthony Hemingway 1
Josh Schwartz 1
Brian Klugman 1
Lee Sternthal 1
Walter Salles 2
David Barrett 1
Todd Lincoln  1
Dan Cutforth 1
Jane Lipsitz 1
Mark Steven Johnson 2
Stephen Norrington 1
Steve Trenbirth 1
Terry Zwigoff 1
David Zucker 2
Bille Woodruff 2
Jan de Bont 1
Rob Schmidt 1
Jon Amiel 1
Clark Johnson 2
Charles Herman-Wurmfeld 1
Richard Donner 2
Anthony Minghella 1
Ronny Yu 1
Joe Dante 1
John McTiernan 1
Kevin Costner 1
Jim Fall 1
Lawrence Kasdan 1
Patty Jenkins 1
Martin Brest 1
Ronald F. Maxwell 1
Troy Miller 1
Alan Parker 1
Uwe Boll 3
Chris Koch 1
David Mackenzie 1
FranÃ§ois Ozon 1
Christopher Guest 1
Nigel Cole 2
James Cox 1
Rob Reiner 3
Robert Iscove 2
Christine Jeffs 1
Chris Buck 2
Jennifer Lee 1
Alfonso CuarÃ³n 3
Shane Black 1
Steve McQueen 1
Dan Scanlon 1
Tommy Wirkola 1
Carl Rinsch 1
Klay Hall 1
Harmony Korine 1
Fede Alvarez 1
Derek Cianfrance 1
Kimberly Peirce 1
John Carney 1
Justin Zackham 1
Taylor Hackford 2
Mike Flanagan 1
David Soren 1
Steven Knight 1
Spike Lee 2
Andy Muschietti 1
Rusty Cundieff 1
James Duffy 1
Griffin Dunne 1
Patrik Forsberg 1
Will Graham 1
Jonathan van Tulleken 1
Scott Moore 1
Jon Lucas 1
Callan Brunker 1
Amma Asante 1
Sofia Coppola 2
Dito Montiel 1
Cody Cameron 1
Kris Pearn 1
Giuseppe Tornatore 1
Don Scardino 1
Jeff Nichols 1
Jonathan Teplitzky 1
Neil Nightingale 1
Barry Cook 1
Scott Walker 1
Guillaume Canet 1
Ric Roman Waugh 1
Keanu Reeves 1
David E. Talbert 1
Christopher B. Landon 1
Benson Lee 1
Anthony Silverston 1
Kasi Lemmons 1
Dan St. Pierre 1
Zal Batmanglij 1
Ed Gass-Donnelly 1
Justin Chadwick 1
Stephen Frears 3
Oliver Hirschbiegel 2
Courtney Solomon 2
Fyodor Bondarchuk 1
Garth Jennings 1
Mark Dindal 2
Mike Johnson 1
Steve Box 1
Nick Park 2
John Maybury 1
Angela Robinson 1
Cory Edwards 1
Todd Edwards 1
Tony Leech 1
John Polson 1
Sydney Pollack 1
Terry Gilliam 1
Florent-Emilio Siri 1
Jay Chandrasekhar 2
Frederik Du Chau 1
Andrew Douglas 1
Dean Parisot 1
Kevin Rodney Sullivan 2
Jean-FranÃ§ois Richet 1
Jim Jarmusch 1
George A. Romero 1
Rupert Wainwright 1
Clare Kilner 1
Richard Shepard 1
Gary Chapman 1
Fernando Meirelles 1
Tommy Lee Jones 1
Danny Cannon 1
Geoffrey Sax 2
Liev Schreiber 1
Stephen Kay 1
Bruce Hunt 1
Niki Caro 1
Joe Ranft 1
Karey Kirkpatrick 1
Frank Marshall 1
James Wong 2
Christophe Gans 1
Steve 'Spaz' Williams 1
Stefen Fangmeier 1

Alejandro Agresti 1
Mel Gibson 2
Robert De Niro 1
Kevin Reynolds 1
Matthew O'Callaghan 1
Steven Zaillian 1
Joe Roth 1
Darren Lynn Bousman 2
Jared Hess 1
Wolfgang Petersen 3
Steven Shainberg 1
Jonathan Dayton 1
Valerie Faris 1
Greg Coolidge 1
Nick Hurran 2
Roger Allers 1
Jill Culton 1
Steve Oedekerk 1
Chris Noonan 1
Jim Sonzero 1
John Bonito 1
Liz Friedlander 1
Peter Hewitt 2
Elizabeth Allen Rosenbaum 1
Richard Eyre 1
Tony Bill 1
Wayne Kramer 1
Susannah Grant 1
Takashi Shimizu 2
Richard Loncraine 2
Liam Lynch 1
Sanjay Gadhvi 1
Glen Morgan 1
Phil Joanou 1
Mira Nair 2
Rachid Bouchareb 1
William Brent Bell 1
Asif Kapadia 1
Doug Atchison 1
Beeban Kidron 1
Eric Bress 1
J. Mackye Gruber 1
Alexander Witt 1
Bibo Bergeron 2
Kerry Conran 1
Stephen Hillenburg 1
Tommy O'Haver 1
Mark Rosman 1
Rawson Marshall Thurber 1
Danny Leiner 2
Jeff Schaffer 1
Mike Nichols 2
Jonathan Hensleigh 1
Pitof 1
Don Mancini 1
Charles Shyer 1
Will Finn 1
John Sanford 1
Terry George 1
Philip Kaufman 2
Trey Parker 1
Sara Sugarman 1
Guy Ferland 1
Joseph Ruben 1
Nick Hamm 1
Paul Abascal 1
Joseph Kahn 1
Gavin O'Connor 1
E. Elias Merhige 1
George Armitage 1
David Mamet 1
Kevin Allen 1
Christopher Erskin 1
Jay Russell 2
Jan Pinkava 1
Sean Penn 1
Raman Hui 1
Steve Hickner 1
Stephen J. Anderson 1
Richard LaGravenese 2
Kevin Lima 2
Juan Carlos Fresnadillo 1
Steve Bendelack 1
Bruce A. Evans 1
Kirsten Sheridan 1
Joby Harold 1
Philip G. Atwell 1
Mennan Yapo 1
Michael Davis 1
Ash Brannon 1
Xavier Gens 1
Eli Roth 2
Jason Eisener 1
David Schwimmer 1
Dave Meyers 1
Chris Sivertson 1
Michael Haneke 1
Sidney Lumet 1
Fred Savage 1
Russell Mulcahy 1
Michael Winterbottom 1
Stephen Hopkins 1
James Foley 1
Mark Helfrich 1
Jon Kasdan 1
Shari Springer Berman 1
Robert Pulcini 1
James Gray 1
Peter Hedges 1
Roland JoffÃ© 1
Amy Heckerling 1
Susanne Bier 1
Alastair Fothergill 1
Mark Linfield 1
Doug Lefler 1
Wong Kar-wai 1
Sylvain White 1
David Leland 1
Chris Rock 1
Peter Webber 1
Feng Xiaogang 1
Ben Garant 1
Ralph Zondag 1
Eric Leighton 1
David McNally 1
Ben Younger 1
Don Michael Paul 1
Mimi Leder 1
Paul Verhoeven 1
Mary Harron 1
Lars von Trier 1
Roger Spottiswoode 1
Antony Hoffman 1
Stephen T. Kay 1
Don Bluth 1
Gary Goldman 1
John Frankenheimer 1
Edward Norton 1
Jack Sholder 1
Christian Duguay 1
David Raynr 1
Douglas Aarniokoski 1
Davis Guggenheim 1
Bonnie Hunt 1
Uli Edel 1
Des McAnuff 1
Diane Keaton 1
Mary Lambert 1

In [43]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [21]:
director_counter2 = Counter()
for x in df[df.profit > 0].director.str.split('|'):
    director_counter2 += Counter(x)
director_counter2.most_common(1)

[('Ridley Scott', 12)]

In [45]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [46]:
df.groupby(by = ['director'])['profit'].sum().sort_values(ascending=False)

director
Peter Jackson            5202593685
David Yates              3379295625
Christopher Nolan        3162548502
J.J. Abrams              2839169916
Michael Bay              2760938960
                            ...
David Bowers|Sam Fell     -84540684
Peter Hyams               -86956545
Ron Underwood             -92896027
James L. Brooks           -96289726
Sngmoo Lee               -413912431
Name: profit, Length: 958, dtype: int64

In [47]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [48]:
df_cast = pd.DataFrame(df.cast.str.split('|').tolist()).stack().reset_index()
df_cast.columns = ['film_index','cast_index','cast']
df_cast['profit_cast'] = df_cast.film_index.apply(lambda x : df.iloc[x]['profit'])
df_cast['year'] = df_cast.film_index.apply(lambda x : df.iloc[x]['release_year'])
df_cast.groupby(by = ['cast'])['profit_cast'].sum().sort_values(ascending=False)

cast
Emma Watson           6666245597
Daniel Radcliffe      6514990281
Rupert Grint          6408638290
Ian McKellen          6087375777
Robert Downey Jr.     5316030161
                         ...
Elisabeth Harnois     -111007242
Emilio EchevarrÃ­a    -119180039
Kate Bosworth         -369455668
Ti Lung               -413912431
Jang Dong-gun         -413912431
Name: profit_cast, Length: 3408, dtype: int64

In [49]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [50]:
df_cast[(df_cast.year == 2012)].groupby(by = ['cast'])['profit_cast'].sum().sort_values()

cast
Kirsten Dunst         -68109207
Heidi Hawkins         -51893525
James Kidnie          -51893525
Timothy Spall         -51893525
Malin Ã…kerman        -43733509
                        ...
Robert Downey Jr.    1299557910
Mark Ruffalo         1299557910
Chris Evans          1299557910
Denis Leary          1319460639
Chris Hemsworth      1542450773
Name: profit_cast, Length: 466, dtype: int64

In [51]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [52]:
df_cast['budget'] = df_cast.film_index.apply(lambda x : df.iloc[x]['budget'])
df_cast[df_cast.budget > df_cast.budget.mean()].cast.value_counts()

Matt Damon            18
Adam Sandler          17
Angelina Jolie        16
Samuel L. Jackson     15
Tom Cruise            15
                      ..
Brittany Snow          1
Christine Baranski     1
Tony Kgoroge           1
Sarah Gadon            1
Jena Malone            1
Name: cast, Length: 1508, dtype: int64

In [53]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [54]:
df_genres = pd.DataFrame(df.genres.str.split('|').tolist()).stack().reset_index()
df_genres.columns = ['film_index','genres_index','genres']
df_genres['cast'] = df_genres.film_index.apply(lambda x : df.iloc[x]['cast'])
df_genres[df_genres.cast.str.contains("Nicolas Cage", na = False)].genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Horror              1
Romance             1
War                 1
Name: genres, dtype: int64

In [55]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [7]:
df_company = pd.DataFrame(df.production_companies.str.split('|').tolist()).stack().reset_index()
df_company.columns = ['film_index','company_index','company']
df_company.company.value_counts()

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
                                         ...
Red Hour Productions                        1
See-Saw Films                               1
Halcyon Pictures                            1
Parabolic Pictures                          1
Danjaq                                      1
Name: company, Length: 1772, dtype: int64

In [57]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [58]:
df_company['year'] = df_company.film_index.apply(lambda x : df.iloc[x]['release_year'])
df_company[df_company.year == 2015].company.value_counts()

Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Columbia Pictures                          7
Paramount Pictures                         7
                                          ..
Taxshelter. be                             1
Dune Entertainment                         1
Goldmann Pictures                          1
Closest to the Hole Productions            1
PeaPie Films                               1
Name: company, Length: 246, dtype: int64

In [59]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [60]:
df_company['profit'] = df_company.film_index.apply(lambda x : df.iloc[x]['profit'])
df_company['genres'] = df_company.film_index.apply(lambda x : df.iloc[x]['genres'])
df_company[df_company.genres.str.contains("Comedy", na = False)].groupby(by = ['company'])['profit'].sum().sort_values(ascending=False)

company
Universal Pictures                        8961545581
Walt Disney Pictures                      7669710326
Twentieth Century Fox Film Corporation    5686960294
Columbia Pictures                         5646343696
DreamWorks Animation                      4789049764
                                             ...
Warner Bros. Pictures                      -54738687
Shangri-La Entertainment                   -55170786
Dark Horse Entertainment                   -68351500
Road Rebel                                 -71331093
Mel's Cite du Cinema                       -92896027
Name: profit, Length: 702, dtype: int64

In [61]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [62]:
df_company[df_company.year == 2012].groupby(by = ['company'])['profit'].sum().sort_values(ascending=False)

company
Columbia Pictures     2501406608
Universal Pictures    1981011579
Marvel Studios        1299557910
Warner Bros.          1258020056
Relativity Media      1032593938
                         ...
Jouror Productions     -51893525
Onyx Films             -51893525
Transfilm              -51893525
Studio 37              -51893525
France 2 CinÃ©ma       -82545651
Name: profit, Length: 236, dtype: int64

In [63]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [64]:
df[df.profit == df[df.production_companies.str.contains("Paramount Pictures", na = False)].profit.min()].original_title

926    K-19: The Widowmaker
Name: original_title, dtype: object

In [65]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [66]:
df.groupby(by = ['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

In [67]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [68]:
df[df.production_companies.str.contains("Warner Bros", na = False)].groupby(by = ['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [69]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [70]:
df_date = pd.DataFrame(df.release_date.str.split('/').tolist())
df_date.columns = ['month','day','year']
df_date['original_title'] = df.original_title
df_date.month.value_counts()

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [16]:
df['release_date'] = pd.to_datetime(df['release_date'])
df.release_date.dt.month.value_counts()

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [71]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [72]:
df_date[(df_date.month == '6')|(df_date.month == '7')|(df_date.month == '8')].original_title.count()

450

In [73]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [74]:
df_date['director'] = df.director
genre_counter3 = Counter()
for x in df[(df_date.month == '12')|(df_date.month == '1')|(df_date.month == '2')].director.str.split('|'):
    genre_counter3 += Counter(x)
genre_counter3.most_common(1)

[('Peter Jackson', 7)]

In [75]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [76]:
df_date['profit'] = df.profit
df_date.groupby(by = ['month'])['profit'].sum().sort_values(ascending=False)

month
6     27551262500
12    26563071474
5     25039516141
11    18654155473
7     18307895020
3     13720216540
10    12994907859
4     12876005537
9     10878921041
8      9640610446
2      8854574425
1      5396885454
Name: profit, dtype: int64

In [77]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [8]:
df_company['original_title'] = df_company.film_index.apply(lambda x : df.iloc[x]['original_title'])

def count_symbols(df):
    for i in df:
        return  len(df)


df_company['name_length'] = df_company.original_title.apply(count_symbols)
df_company.groupby(by = ['company'])['name_length'].mean().sort_values(ascending=False)

company
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: name_length, Length: 1772, dtype: float64

In [79]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [14]:
def word_counter(df):
    for i in df:
        return len(df.split())
df_company.original_title = df_company.original_title.apply(lambda x: x.replace('&',''))
df_company.original_title = df_company.original_title.apply(lambda x: x.replace(':',''))
df_company.original_title = df_company.original_title.apply(lambda x: x.replace('-',''))
df_company.original_title = df_company.original_title.apply(lambda x: x.replace(';',''))
df_company['word_count'] = df_company.original_title.apply(word_counter)
df_company.groupby(by = ['company'])['word_count'].mean().sort_values(ascending=False)

company
Four By Two Productions           12.0
Jim Henson Company, The           10.0
The Saul Zaentz Company            9.0
Dos Corazones                      8.0
Harry Potter Publishing Rights     8.0
                                  ...
Lunar Industries                   1.0
M Productions                      1.0
Sechzehnte Babelsberg Film         1.0
Eagle Vision Inc.                  1.0
Cohen/Pearl Productions            1.0
Name: word_count, Length: 1772, dtype: float64

In [81]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [82]:
col=[]
for item in df.original_title:
    col.append(item.lower())
df.original_title = col

word_counter = Counter()
for i in df.original_title.str.split():
    word_counter += Counter(i)
len(word_counter)

2461

In [83]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [84]:
print(np.percentile(df.vote_average, 99))
df[df.vote_average > 7.8].original_title

7.8

9                                          inside out
34                                               room
118                                      interstellar
119                           guardians of the galaxy
125                                the imitation game
128                                         gone girl
138                          the grand budapest hotel
370                                         inception
600                                   the dark knight
873                                       the pianist
1082    the lord of the rings: the return of the king
1184                          the wolf of wall street
1192                                 12 years a slave
1801                                          memento
Name: original_title, dtype: object

In [85]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [86]:
import itertools
df_actor = pd.DataFrame(df.cast.str.split('|'))
df_actor
Counter(np.sum([list(itertools.combinations(x, 2)) for x in df_actor.cast])).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [87]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
#Человеческого решения не придумал

In [88]:
answer_ls.append(4)

# Submission

In [89]:
len(answer_ls)

36

In [90]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4